{% extends 'template.html' %}
{% block header %}
<title>CCTP Index</title>
<meta name="description" content="Aryabhata Inc - Clan Cat Teaching Platform">
{% endblock %} 
{% block content %}
  <h1 style="text-align: center;"><strong> Welcome To CCTP </strong></h1>
  <h3 style="text-align: center;"> A teaching/simulation platform for all teachers </h3>
  <br/>
  <div style="text-align: center;">
	  <br/><a href="/edit/text">Create An Experiment (Python)</a>
  </div>
  <div style="text-align: center;">
          <br/><a href="/edit/text/ccpl">Create An Experiment (ClanCat Programming Language)</a>
  </div>
{% endblock %}
