{% extends 'template.html' %}
{% block header %}
<title role="banner">CatPhi Admin Interface</title>
<meta name="description" content="Aryabhata Inc - CatPhi Simulation Creator">
{% endblock %}
{% block content %}
  <h2 style="text-align: center;"><strong>  CatPhi Admin Interface </strong></h2>
  {% if error %}
  	<p style="text-align: center; color: red;"><strong>{{error}}</strong></p>
  {%endif%}
  <br/>
  <div style="text-align: center;">
	<form method='post' class="form">
	{{ form.csrf_token }}
	<div class="form-group form-inline">
    		<label for="topic" style="margin-right: 3px;">Simulation Description</label>
    		<input style="margin: 2px" type="text" name='description' class="form-control" id='simu' placeholder='Simulation Description'>
  	</div>
	<div class="form-group form-inline">
                <label for="exp_type" style="margin-right: 3px;">Simulation Library</label>
		<select name="exp_type" id="cars" class="form-control">
			<option value="glowscript">Glowscript (Python)</option>
			<option value="threejs">ThreeJS (JavaScript)</option>
                        <option value="babylonjs">BabylonJS (JavaScript)</option>
		</select> 
	</div>
  	<button type="submit" class="btn btn-primary">Create Simulation</button>
	</form>	
  </div>
{% endblock %}

