{% extends 'template.html' %}

{% block header %}
<meta name="description" content="{{topic}}">
<title>Concepts - CatPhi</title>
{% endblock %}
{% block content %}
<h1 style="text-align: center;"><strong>Concepts In {{topic}}</strong></h1>
<h2 style="text-align: center;"> Next, choose the concept you wish to learn today! </h2>
  <br/><br/><br/>
  {% if admin %}
        <div style="text-align: center;">
		<a href="/topic/{{topic}}/concepts/new"><button class="btn btn-primary">New Concept</button></a>
        </div>
  {% endif %}
  <div class="cctp-exp-index">
  <div class="row top-buffer align-item-center" style="text-align: center;">
  {%for exp in elist%}
    <div class="col-sm-6">
      <div class="card" style="width: 18rem; display: inline-block">
	      <br/><h5 class="card-title">{{exp[1]}}</h5>
              <a href="/concept/{{exp[0]}}" class="stretched-link stub"></a>
        <div class="card-body">
          <a href="#" class="card-link">View</a>
        </div>
      </div>
    </div>
    {% if loop.index % 2 == 0 %}
      <br/><br/><br/>
      </div>
      <div class="row top-buffer align-item-center" style="text-align: center;">
    {%endif%}
  {%endfor%}
  </div>
  </div>
{% endblock %}
