{% extends 'template.html' %}
{% block header %}
<title role="banner">CatPhi CSRF Error</title>
<meta name="description" content="Aryabhata Inc - Clan Cat Teaching Platform">
{% endblock %} 
{% block content %}
  <h1 style="text-align: center;"><strong> Uh Oh... </strong></h1>
  <h3 style="text-align: center;"> CSRF Forgery Alert. Your request could not processed as it looks fraudulent. Please reload the entire website (Click Experiments to reload and then go back to what you were trying to do) and try again. Thank you </h3>
  <br/>
{% endblock %}
