{%extends 'template.html'%}
{%block reg %}
<head>
<title role="banner">CatPhi Page Editor</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style>
.CodeMirror {
      resize: vertical;
    }
</style>
</head>

<body class="GlowScriptBody">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.2/codemirror.min.js" integrity="sha512-UxcTlYsLkcuGZL9JNnMsfo3p7VFSmcgBjH1VUSM82Okk5ni52bk7vz9f2p+D1VnMcNUmMzbzgWqWcdJ2j8Svow==" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.2/codemirror.min.css" integrity="sha512-xIf9AdJauwKIVtrVRZ0i4nHP61Ogx9fSRAkCLecmE2dL/U8ioWpDvFCAy4dcfecN72HHB9+7FfQj3aiO68aaaw==" crossorigin="anonymous" />
<!-- CodeMirror Modes -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.2/mode/javascript/javascript.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.2/mode/xml/xml.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.2/mode/css/css.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.2/mode/htmlmixed/htmlmixed.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.20/lodash.min.js"></script>
</body>

<button onclick="saveCode()" class="btn btn-primary">Save {%if type == "concept"%}Concept{% elif type == "topic" %}Topic{%endif%}</button>
<button onclick="addSimu()" class="btn btn-primary">Embed Simulation</button>
<div class="form-group">
  <label for="editor">Page Edit View</label>
  <textarea class="form-control rounded-0" id="editor" rows="15"></textarea>
</div>
<!-- Csrf Token -->
{{form.csrf_token}}

<script>
var editorTextArea = document.querySelector("#editor")
{% if type == "concept" %}
	var currentCode = '{{content}}';
{% elif type == "topic" %}
        var currentCode = '{{description}}';
{%endif%}
console.log(CodeMirror.modes)
var editor = CodeMirror.fromTextArea(editorTextArea, {
    lineNumbers: true,
    mode: "htmlmixed",
  })
editor.setValue(currentCode);
var csrf = document.querySelector("#csrf_token").value;
function postjson(post_url, post_data) {
	var xhr = new XMLHttpRequest();
	xhr.open("POST", post_url, true);
	xhr.setRequestHeader("Content-Type", "application/json");
	xhr.onreadystatechange = function () {
	if (xhr.readyState === 4) {
		var json = JSON.parse(xhr.responseText);
		console.log(json);
		}
	};
	var data = JSON.stringify(post_data);
	xhr.send(data);
};


function saveCode() {
	{% if type == "concept" %}
		post_url = "https://" + window.location.hostname + ":443/topics/{{tid}}/concepts/{{cid}}/save";
		console.log(post_url);
		post_data = {"csrf_token": csrf, "username": "{{username}}", "token": "{{token}}", "code":  editor.getValue().replace("\n", "<br/>\n")};
	{% elif type == "topic" %}
                post_url = "https://" + window.location.hostname + ":443/topics/{{tid}}/save";
                console.log(post_url);
                post_data = {"csrf_token": csrf, "username": "{{username}}", "token": "{{token}}", "description":  editor.getValue().replace("\n", "<br/>\n")};
	{%endif%}
	postjson(post_url, post_data);
	return
}

function addSimu() {
	var sid = prompt("Enter the simulation ID for the experiment you wish to embed")
	if(sid != null) {
		var current = editor.getValue();
		var new_code = '<iframe title="IFrame Simulation" sandbox="allow-scripts allow-pointer-lock" src="https://127.0.0.1/iframe/' + sid + '"></iframe>';
		current = current + "\n" + new_code;
		editor.setValue(current);
	}
}
</script>
<!-- Bootstrap comes with Popper, but not jquery which is anyways OK-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
{%endblock%}
