{% extends 'template.html' %}
{% block header %}
<title role="banner">CatPhi - Login</title>
<meta name="description" content="Aryabhata Inc - CatPhi Login">
{% endblock %}
{% block content %}
<h3 style="text-align: center;"><strong>{%if mode == "login"%}Login To CatPhi{%elif mode == 'backup'%}Account Recovery{%else%}Enter OTP{%endif%}</strong></h3>
  {% if error %}
  	<p style="text-align: center; color: red;"><strong>{{error|safe}}</strong></p>
  {%endif%}
  {% if done and mode == "backup" %}
  {%else%}
  <br/>
  <p style="text-align: center;"><strong>{%if mode == "login"%}This account is protected by Multi Factor Authentication.<br/>Please enter the code on your authentication app.{%elif mode == "setup"%}In order to continue enabling MFA, we need you to do a few things.{%elif mode == "backup"%}Please enter your backup code to restore access to your account.{%else%} Please type in the OTP from your authentication app in order to perform this action{%endif%}</strong></p><br/>
  
  {%if mode == "setup"%}
	<p style="text-align: center;">
		<strong>
			Step 1: Download an authentication app on your phone such as Google Authenticator or Authy<br/>
			Step 2: Create a new account using the code {{key}}.<br/>
			Step 3: Enter the OTP you get here.<br/>
		</strong>
	</p>
  {%endif%}

  <div style="text-align: center;">
	<form method='post' class="needs-validation" novalidate>
	   {{form.csrf_token}}
	   <div class="form-group">
	   <div class="form-inline" style="justify-content: center; text-align: center;">
		   <label for="otp" style="margin-right: 7px; text-align: left; justify-content: left;">{% if mode == "backup" %}Backup Code {%else%}OTP {%endif%}</label>
		   <input style="margin: 7px;" type="text" name='otp' class="form-control" id="otp" aria-describedby="userHelp" placeholder="Enter {% if mode == 'backup'%}Backup Code {% else %}6 Digit OTP{%endif%}" required aria-required="true">
                <div class="invalid-feedback">
			Please enter {%if mode == 'backup'%}the backup code{%else%}the OTP from your authentication app{%endif%}
                </div>
	</div><br/>
	<button type="submit" class="btn btn-primary">{%if mode == "login"%}Login{%elif mode == "setup" %}Enable MFA{%elif mode == "backup"%}Recover Account{%else%}Verify OTP{%endif%}</button>
	</form>
	</div>
	{%if mode != "backup"%}
	<br/><br/><br/><br/><br/>
	<p><strong>Lost your device?<strong></p>
	<a href="/recovery"><button class="btn btn-primary">Recover Your Account</button></a>
	{% endif %}
	<br/><br/>
  </div>
<script>
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>
{%endif%}
{% endblock %}

