{% extends 'template.html' %}
{% block header %}
<title role="banner">{{p_username}}'s profile - CatPhi</title>
<meta name="description" content="Aryabhata Inc - CatPhi Dashboard">
<style>
        hr {
                background-color: black;
        }
        img {
                border-radius: 50%;
        }
</style>
{% endblock %} 
{% block content %}
	<h2 style="text-align: center;"><strong><a style="color: black;" href="/profile/{{username}}">{{p_username}}'s</a> settings</strong></h2>
  	<div style="text-align: center;" class="profile_settings" role="profile_settings">
                	<h4><strong>Profile Status: </strong>{{private}}</h4>
			{% if private == "Private" %}
			<form action="/profile/{{username}}/me/state" method="post">
				{{ form.csrf_token }}
				<button type="submit" name="state" value="public" class="btn btn-primary">Make Public</button>
			</form>
			{% else %}
                        <form action="/profile/{{username}}/me/state" method="post">
                                {{ form.csrf_token }}
				<button type="submit" name="state" value="private" class="btn btn-primary">Make Private</button>
                        </form>
			{% endif %}
			<hr/>
			<h5><strong>Profile Listing</strong></h5>
			{% if listing == "Disabled" %}
                        <form action="/profile/{{username}}/me/list" method="post">
                                <button type="submit" name="state" value="allow" class="btn btn-primary">Allow Listing</button>
                        </form>
			{% else %}
                        <form action="/profile/{{username}}/me/list" method="post">
                                <button type="submit" name="state" value="block" class="btn btn-primary">Block Listing</button>
                        </form>
			{% endif %}
			<hr/>
                        <h5><strong>Security</strong></h5>
                        <a href="/profile/{{username}}/me/account/username/change"><button class="btn btn-primary">Change Username</button></a>
			<br/><br/>
                        <a href="/profile/{{username}}/me/account/password/change"><button class="btn btn-primary">Change Password</button></a>
			<br/><br/>
			{% if mfa %}
			<h6>MFA is currently enabled</h6>
			<a href="/profile/{{username}}/me/mfa/disable"><button class="btn btn-primary">Disable MFA</button></a><br/>
			<small class="form-text text-muted">It is not recommended to do this at all</small>
			{% else %}
                        <h6>MFA is currently disabled</h6>
                        <a href="/profile/{{username}}/me/mfa/enable"><button class="btn btn-primary">Enable MFA</button></a>
                        <small class="form-text text-muted">It is highly recommended that you do this</small>
			{%endif%}
			<hr/><br/><br/>
                        <h5 style="color: red"><strong>DANGER ZONE</strong></h5>
			<a href="/profile/{{username}}/me/profile/delete"><button class="btn btn-danger">Delete Account</button></a><
	                <small class="form-text text-muted"><strong>Warning: </strong>Only click this if you are absolutely positive you know what you are doing.</small>
			<br/><br/>
			<h6 style="color: red"><strong>User Token</strong></h6>
                        <form action="/profile/{{username}}/me/token" method="post">
                                {{ form.csrf_token }}
				<button type="submit" name="confirm" value="YesIKnowWhatIAmDoing2020AndIAmSureIWishToDoThisInRealLifePleaseDontDoThisUnlessYouAreDoingThisToFillOutTheCustomerSupportFormThanksBro{{username}}:)" class="btn btn-danger">View User Token</button>
				<small class="form-text text-muted"><strong>Warning: </strong>Only click this if you know what you are doing.</small>
                        </form>
	</div>
{% endblock %}
