{% extends 'template.html' %}
{% block header %}
<title role="banner">{{p_capusername}}'s Passport - CatPhi</title>
<meta name="description" content="Aryabhata Inc - CatPhi Dashboard">
<style>
	hr {
		background-color: black;
	}
	img {
  		border-radius: 50%;
	}
</style>
{% endblock %} 
{% block content %}
<div style="text-align: center;">
<h2><strong><a style="color: black;" href="/profile/{{username}}">{{p_capusername}}'s</a> Passport</strong></h2>
     <hr/>
     <h3>Portfolio</h3>
     {% for item in items %}
     <button class="btn btn-outline-info" onClick="modalShow('#item-{{loop.index}}')">{{item["display"]|safe}}{{item["count"]}}</button><br/><br/>
     {%endfor%}
     <h4>Rank</h4><br/>
		<button class="btn btn-outline-info" onClick="modalShow('#memberModal')">{{rank_name}}</button><br/><br/>
  <hr/>
  <h3>Badges</h3>
  	{% for badge_id, badge_dict in badges.items()%}
		<a href="javascript:void(0)"><img src='{{badge_dict["image"]}}' alt='{{badge_dict["name"] + " badge"}}' height="50px" width="50px" onclick="modalShow('#{{badge_id}}')"/></a>

		<!-- Modal Member -->
		<div class="modal fade" id="{{badge_id}}" tabindex="-1"  aria-labelledby="{{badge_id}}Label" aria-hidden="true">
  			<div class="modal-dialog modal-dialog-centered">
    				<div class="modal-content">
      					<div class="modal-header">
						<h5 class="modal-title" id="{{badge_id}}Label">{{badge_dict["name"]}}</h5>
      					</div>
      					<div class="modal-body">
					{{badge_dict["description"]}}<br/><br/>
					{% if not profile_owner%}
						{% if badge_dict["experience"] == 0 %}
							<strong><em>Register for CatPhi to automatically earn this badge!</em></strong>
						{% elif not username %}
							<strong><em>Register for CatPhi to earn this and many other badges and prizes!</em></strong>
						{% else %}
							<strong><em>Earn {{badge_dict["experience"]}} experience points to earn this badge</em></strong>
						{%endif%}
					{%endif%}
					</div>
    				</div>
  			</div>
		</div>
  	{%endfor%}
	<br/><br/><br/><br/><br/>
	<hr/>
	<h3>Passport Info</h3>
	<h5>This user has been on CatPhi since {{join_date}}</h5>
          {% if p_admin or profile_owner %}
	  <a href="/settings/{{p_username}}"><button class="btn btn-primary">Settings</button></a><br/><br/>
          {% endif %}

	{% if admin == 1 and profile_owner%}
	  <a href="/experiment/new"><button class="btn btn-primary">New General Simulation</button></a><br/>
	  {% endif %}

	  <br/><br/>


<!-- Modal All -->
<div class="modal fade" id="memberModal" tabindex="-1"  aria-labelledby="memberModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
	      <h5 class="modal-title" id="memberModalLabel" style="text-align: center; justify-content: center;">{{rank_name}}</h5>
      </div>
      <div class="modal-body">
	      {{rank_desc|safe}}{% if admin == 0 %}<br/><br/><strong><em>Earn {{rank_levelup}} experience points to become a {{rank_levelup_name}}!</em></strong>{%endif%}
      </div>
    </div>
  </div>
</div>

{% for item in items %}
<!-- Modal Item -->
<div class="modal fade" id='item-{{loop.index}}' tabindex="-1"  aria-labelledby='item-{{loop.index}}Label' aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
	      <h5 class="modal-title" id='item-{{loop.index}}Label'>{{item["name"]}}</h5>
      </div>
      <div class="modal-body">
	      {{item["desc"]|safe}}
      </div>
    </div>
  </div>
</div>
{%endfor%}
</div>
<script>
	function modalShow(id) {
                        $(id).modal()
	}
</script>
{% endblock %}
