{% extends 'template.html' %}
{% block header %}
<title role="banner">CatPhi - Recovery Options</title>
<meta name="description" content="Aryabhata Inc - CatPhi Recovery">
{% endblock %}
{% block content %}
  <h3 style="text-align: center;"><strong>Recovery Options</strong></h3>
  <br/>
  <div style="text-align: center;">
    <div class="form">
  	<h4 style="color: black;"><strong>Need to recover your account?</strong></h4>
	<a href="/recovery"><button class="btn btn-primary">Recover Account</button></a>
	<div style="margin-bottom: 20px"></div>
        <h4 style="color: black;"><strong>Just forgot your password? No worries!</strong></h4>
        <a href="/reset"><button class="btn btn-primary">Reset Password</button></a>
  </div>
  </div>
{% endblock %}

