{% extends 'template.html' %}
{% block header %}
<title role="banner">CatPhi - Recovery Options</title>
<meta name="description" content="Aryabhata Inc - CatPhi Recovery">
{% endblock %}
{% block content %}
  <h3 style="text-align: center;"><strong>Recovery Options</strong></h3>
  <br/>
  <div style="text-align: center;">
  	<h4>Need to recover your account?</h4>
	<a href="/recovery"><button class="btn btn-primary">Recover Account</button></a>
	<h4>Just forgot your password? No worries</h4>
        <a href="/reset"><button class="btn btn-secondary">Reset Password</button></a>
  </div>
{% endblock %}

