{% extends 'template.html' %}
{% block header %}
<title>CCTP Sign Up</title>
<meta name="description" content="Aryabhata Inc - CCTP Login">
{% endblock %}
{% block content %}
  <h1 style="text-align: center;"><strong> CCTP Sign Up </strong></h1>
  {% if error %}
  	<p style="text-align: center; color: red;"><strong>{{error}}</strong></p>
  {%endif%}
  <br/>
  <div style="text-align: center;">
	<form method='post'>
	<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
	<div class="form-group">
    		<label for="email">Enter A Email</label>
    		<input type="email" name='email' class="form-control" id="email" aria-describedby="userHelp" placeholder="Email Address">
		<small id="userHelp" class="form-text text-muted">You will need this email address to reset your password.</small>
  	</div>
        <div class="form-group">
                <label for="username">Enter A Username</label>
                <input type="username" name='username' class="form-control" id="username" aria-describedby="userHelp" placeholder="Username">
                <small id="userHelp" class="form-text text-muted">This can be anything that you want. Just make sure you remember it.</small>
        </div>
  	<div class="form-group">
    		<label for="password">Password</label>
    		<input type="password" name='password' class="form-control" id="password" placeholder="Password" minlength=9>
                <small id="userHelp" class="form-text text-muted">For security purposes, your password must have at least 9 characters. Adding numbers and other such characters will improve your password</small>
	</div>
        <div class="form-group">
                <label for="cpassword">Retype Password</label>
                <input type="password" name='cpassword' class="form-control" id="cpassword" placeholder="Retype Password" minlength=9>
        </div>
  	<button type="submit" class="btn btn-primary">Sign Up</button>
	</form>	
  </div>
{% endblock %}

