{% extends 'template.html' %}
{% block header %}
<title role="banner">CatPhi Sign Up</title>
<meta name="description" content="Aryabhata Inc - CatPhi Login">
{% endblock %}
{% block content %}
  <h3 style="text-align: center;"><strong>Register</strong></h3>
  <div style="text-align: center;">
    <div class="form">	
    <form method='post'>
        {% if error %}
        <p style="text-align: center; color: red;"><strong>{{error|safe}}</strong></p>
        {%endif%}
        {{ form.csrf_token }}
	<div class="form-group">
           <div class="form-inline" style="justify-content: center; text-align: center;">
		   <label class="mx-sm-3" for="email" style="margin-right: 7px; text-align: left; justify-content: left;">Email Addr.:</label>
    		<input style="margin-right: 7px;" type="email" name='email' class="form-control mx-sm-3" id="email" aria-describedby="emailHelp" placeholder="Email Address" required aria-required="true">
	   </div>
		<small id="emailHelp" class="form-text text-muted">You will need this email address to reset your password.<br/>This email will not be verified for privacy reasons. Note that if you forget your password, you will need this email to be working</small>
  	</div>
	<div class="form-group">
            <div class="form-inline" style="justify-content: center; text-align: center;">
                <label class="mx-sm-3" for="username" style="margin-right: 7px; text-align: left; justify-content: left;">Username:</label>
		<input style="margin-right: 7px;" type="username" name='username' class="form-control mx-sm-3" id="username" aria-describedby="userHelp" placeholder="Username" required aria-required="true">
           </div>
		<small id="userHelp" class="form-text text-muted">This can be anything that you want. Just make sure you remember it.</small>
	</div>
	<div class="form-group">
            <div class="form-inline" style="justify-content: center; text-align: center;">
    		<label for="password" style="margin-right: 30px; text-align: left; justify-content: left;">Password</label>
    		<input style="margin-right: 30px;" type="password" name='password' class="form-control mx-sm-3" id="password" placeholder="Password" minlength=9 required aria-describedby="passHelp" aria-required="true">
            </div>
		<small id="passHelp" class="form-text text-muted">For security purposes, your password must have at least 9 characters. Adding numbers and other such characters will improve your password</small>
        </div>
	<div class="form-group">
            <div class="form-inline" style="justify-content: center; text-align: center;">
		<label for="cpassword" style="margin-right: 12px; text-align: left; justify-content: left;">Retype Password</label>
                <input style="margin-right: 12px;" type="password" name='cpassword' class="form-control" id="cpassword" placeholder="Retype Password" minlength=9 required aria-required="true">
            </div>
	</div>
  	<button type="submit" class="btn btn-primary">Sign Up</button>
	</form>
        <hr/>
        <h5 style="color: black">Already have an account?</h5>
        <a href="/login"<button class="btn btn-primary">Login</button></a>
  </div>
</div>
{% endblock %}

