{% extends 'template.html' %}
{% block header %}
<title>CatPhi - Reset Password</title>
<meta name="description" content="Aryabhata Inc - CatPhi Reset Password">
{% endblock %}
{% block content %}
  <h1 style="text-align: center;"><strong> Forgot Your Password? </strong></h1>
  {% if error %}
  	<p style="text-align: center; color: red;"><strong>{{error}}</strong></p>
  {%endif%}
  <br/>
  <p style = "text-align: center;">It's OK. Mistakes happen. In order to reset your password, we need to know EITHER your username OR its registered email address. A email will be sent to its registered email address.<br/></p>
  <div style="text-align: center;">
	<form method='post'>
	<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
	<div class="form-group">
    		<label for="username">Username</label>
    		<input type="username" name='username' class="form-control" id="email" placeholder="Enter your username">
                <label for="email">Email</label>
                <input type="email" name='email' class="form-control" id="email" placeholder="Enter your email">
  	</div>
  	<button type="submit" class="btn btn-primary">Next</button>
	</form>	
  </div>
{% endblock %}

