{% extends 'template.html' %}
{% block header %}
	<title>Example 01.02 - First Scene</title>
	<meta charset="UTF-8" />
	<script src="https://threejs.org/build/three.min.js"></script><!--r83-->
	<script src="https://threejs.org/examples/js/controls/OrbitControls.js"></script>
	<script type="text/javascript" src="/static/clancat.js"></script>
	<meta name="description" content="Aryabhata Inc - CatPhi">
{% endblock %}
{% block content %}
        <div style="text-align: center;">
                <input type="range" min="0" max="90" id="angle" value="45" step="1" aria-label="Slider for animation of ball moving left to right and back" /><br/>
                <button onclick='pauseCode(this);' class="btn btn-primary">Pause Code</button>
                <button onclick='document.querySelector("#webgl-output").value = null; init(document.querySelector("#angle").value);' class="btn btn-primary">Start Code</button>
                <p>Angle Of The Box</p>
        </div>
    <!-- Div which will hold the Output -->
    <div id="webgl-output"></div>

{% endblock %}
