{% extends 'template.html' %}
{% block header %}
<title role="banner">CatPhi Index</title>
<meta name="description" content="Aryabhata Inc - CatPhi">
{% endblock %} 
{% block content %}
<h2 style="text-align: center;"><strong> CatPhi Test Interface </strong></h2>
  <br/>
  <div style="text-align: center;">
  </a>
  {% for topic, items in brs_list.items() %}
  	<strong>Topic ID: </strong>{{topic}}<br/>
	<strong>Topic Name: </strong>{{items[0][0]}}<br/><br/>
	{%for concept in items %}
		<strong>Concept ID: </strong>{{concept[1]}}<br/>
                <strong>Concept Name: </strong>{{concept[2]}}<br/>
		<strong>Link: </strong><a href="/topics/{{topic}}/learn/{{concept[1]}}">{{concept[2]}}</a><br/><br/>
  	{%endfor%}
	<br/>
  {%endfor%}
{% endblock %}
