{% extends 'template.html' %}

{% block header %}
<meta name="description" content="CatPhi Topic Editor">
<title role="banner">Topic Editor - CatPhi</title>
{% endblock %}
{% block content %}
  <h2 style="text-align: center;"><strong> CatPhi Topic Editor </strong></h2>
  <br/><br/><br/>
  <div style="text-align: center;">
	  <a href="/topics/{{tid}}/edit"><button class="btn btn-primary">Edit Topic</button></a><br/><br/>
	  <a href="/topics/{{tid}}/edit/concepts"><button class="btn btn-primary">Edit Concepts</button></a><br/><br/>
	  <a href="/topics/{{tid}}/edit/concept/new"><button class="btn btn-primary">New Concept</button></a><br/><br/>
	  <a href="/topics/{{tid}}/edit/practice/new"><button class="btn btn-primary">New Practice Question</button></a><br/><br/>
  </div>
{% endblock %}
