{% extends 'template.html' %}
{% block header %}
<title role="banner">CatPhi Admin Interface</title>
<meta name="description" content="Aryabhata Inc - CatPhi Login">
{% endblock %}
{% block content %}
  <h2 style="text-align: center;"><strong>  CatPhi Admin Interface </strong></h2>
  {% if error %}
  	<p style="text-align: center; color: red;"><strong>{{error}}</strong></p>
  {%endif%}
  <br/>
  <div style="text-align: center;">
	<form method='post'>
	<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
	<div class="form-group">
    		<label for="concept">Concept Title</label>
    		<input type="text" name='title' class="form-control" id='concept' aria-describedby="userHelp" placeholder='Concept Name'>
  	</div>
  	<button type="submit" class="btn btn-primary">Create Concept</button>
	</form>	
  </div>
{% endblock %}
