{% extends 'template.html' %}

{% block header %}
<meta name="description" content="CatPhi Concept Editor">
<title role="banner">Topic Practice - CatPhi</title>
<style>
body {
    /* bottom = footer height */
    overflow-y: visible;
}

iframe {
	width: 700px;
	height: 550px;
	border: hidden;
}

@keyframes slidein-left {
    0% {
        transform: translateX(-100%) rotate(0deg);
	color: black;
    }
    100% {
        transform: translateX(0) rotate(360deg);
        color: rgb(255, 75, 0);
    }
}



@keyframes slidein-left-true {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slidein-right-true {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}




@keyframes slidein-right {
    0% {
        transform: translateX(100%);
    }
    75% {
	transform: translate(0)
    }
    100% {
        transform: translateX(0);
    }
}

#animate-header-left {
    color: rgb(255, 75, 0);
    animation: 3s slidein-left;
}

#animate-header-right {
    animation: 2s slidein-right;
}

.catphi_page_content {
    box-sizing: border-box;
    flex-wrap: wrap;
}

.animate-header-true-left {
    animation: 3s slidein-left-true;
}

.animate-header-true-right {
    animation: 3s slidein-right-true;
}

</style>
{% endblock %}
{% block content %}
<br/>
<div>
<div class="catphi_page_content d-flex justify-content-center mt-auto">
	<div id="animate-header-left" style="margin: 10px; padding:1em;">
		<i class="fas fa-volleyball-ball fa-5x justify-content-center" style="text-align: center;"></i>
	</div>
	<div id="animate-header-right">
		<h3><strong>Question #{{qid}}</strong></h3>
		<h4>{{question|safe}}</h4>
	</div>
</div>

{% if admin %}
<div class="catphi_page_content d-flex justify-content-center mt-auto">
<a href="/topics/{{tid}}/practice/{{qid}}/edit"><button class="btn btn-primary">Edit</button></a><br/><br/>
</div>
{% endif %}

<br/><br/><br/><br/><br/>
{% if type == "MCQ" %}
<div id="answer" class="d-flex" style="margin-bottom: 30px;">
	<button id="A" class="btn btn-block btn-lg btn-outline-primary animate-header-true-left" style="margin: auto;" onclick="selectB(this)">A - {{answers[0]}}</button>
	<button id="B" class="btn btn-block btn-lg btn-outline-primary animate-header-true-left" style="margin: auto;" onclick="selectB(this)">B - {{answers[1]}}</button>
	<button id="C" class="btn btn-block btn-lg btn-outline-primary animate-header-true-right" style="margin: auto;" onclick="selectB(this)">C - {{answers[2]}}</button>
	<button id="D" class="btn btn-block btn-lg btn-outline-primary animate-header-true-right" style="margin: auto;" onclick="selectB(this)">D - {{answers[3]}}</button>
</div>
{% elif type == "SAQ" %}
	<input id="ans" style="margin-left: 3px; margin-right: 3px; margin-bottom: 30px;" class="form-control animate-header-true-right" type="text" placeholder="Enter your answer here!"/>
{%endif%}
<button style="text-align: center; margin-bottom: 15px;" type="button" id="check-answers" class="btn btn-success btn-lg btn-block justify-content-center animate-header-true-left" disabled aria-disabled="true" onClick="checkAnswer(this);" >Check Answer!</button>
<div style="display: block; text-align: center; margin-bottom: 276px;">
<button id="view-solution" style="visibility: hidden; text-align: center;" class="btn btn-outline-dark btn-block animate-header-true-right" onclick="viewSolution(false, null)">View Solution</button>
</div>
<footer class="footer">
<nav aria-label="CatPhi Concept Navigation">
    <ul class="pagination justify-content-center">
    {% if qid - 1 > 0 %}
    <li class="page-item">
      <a class="page-link" href="/topics/{{tid}}/practice/{{qid - 1}}" tabindex="-1" aria-disabled="false">Previous</a>
    </li>
    {%else%}
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
    </li>
    {%endif%}
    {%for question in questions%}
    	{%if question == qid %}
    		<li class="page-item active" aria-current="page"><a class="page-link" href="/topics/{{tid}}/practice/{{question}}">{{question}}<span class="sr-only">(current)</span></a></li>
	{% else %}
		<li class="page-item" aria-current="page"><a class="page-link" href="/topics/{{tid}}/practice/{{question}}">{{question}}</a></li>
	{% endif %}
    {%endfor%}
    {% if qid + 1 <= practice_count %}
    <li class="page-item">
      <a class="page-link" href="/topics/{{tid}}/practice/{{qid + 1}}" tabindex="-1" aria-disabled="false">Next</a>
    </li>
    {% else %}
    <li class="page-item">
	    <a class="page-link" href="/topics/{{tid}}/return" tabindex="-1" aria-disabled="true">Return Home</a>
    </li>
    {% endif %}
  </ul>
</nav>
</footer>


<!-- Modal Correct -->
<div class="modal fade" id="correctModal" tabindex="-1"  aria-labelledby="correctModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
	{% if qid + 1 <= practice_count %}
        	<h5 class="modal-title" id="correctModalLabel">Great Job!</h5>
	{% else %}
		<h5 class="modal-title" id="correctModalLabel">Yay! You have successfully defeated the scourge of this topic!</h5>
	{%endif%}
      </div>
      <div class="modal-body">
        {% if qid + 1 <= practice_count %}
	      Ready to move on, young explorer?
	{% else %}
              Ready to return back home, young explorer?
	{% endif %}
      </div>
      <div class="modal-footer">
        {% if qid + 1 <= practice_count %}
		<button type="button" class="btn btn-primary"><a href="/topics/{{tid}}/practice/{{qid + 1}}">Set Sail!</a></button>
	{% else %}
		<button type="button" class="btn btn-primary"><a href="/topics/{{tid}}/return">Return To Main Base!</a></button>
      	{% endif %}
      </div>
    </div>
  </div>
</div>

<!-- Modal Wrong -->
<div class="modal fade" id="incorrectModal" tabindex="-1"  aria-labelledby="incorrectModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="incorrectModalLabel">Aww man....</h5>
      </div>
      <div class="modal-body">
              You got it wrong and would have died on your voyage but you were revitalized by the gods, let's try this question again!
      	      <div id="lives"></div>
      </div>
      <div class="modal-footer">
                <button type="button" class="btn btn-primary" onClick="tryAgain(this)">Try Again</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Double Wrong -->
<div class="modal fade" id="dincorrectModal" tabindex="-1"  aria-labelledby="dincorrectModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="dincorrectModalLabel">Uh oh... You ran out of lives....</h5>
      </div>
      <div class="modal-body">
	      Unfortunately, you have ran out of all of your lives{% if qid + 1 <= practice_count %}, but lets move on and learn from our mistakes!{% else %}, but luckily your team members were more successful. So lets go back to home base, shall we?{% endif %}<br/><br/>
      </div>
      <div class="modal-footer">
	      {% if qid + 1 <= practice_count %}
	      	<button type="button" class="btn btn-primary"><a href="/topics/{{tid}}/practice/{{qid + 1}}">Move On</a></button>
	      {% else %}
                <button type="button" class="btn btn-primary"><a href="/topics/{{tid}}/return">Return To Main Base!</a></button>
	      {% endif %}
	      <button type="button" class="btn btn-primary" onclick="viewSolution(true, '#dincorrectModal');">View Solution</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal Solution -->
<div class="modal fade" id="solutionModal" tabindex="-1"  aria-labelledby="solutionModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="solutionModalLabel">Solution</h5>
      </div>
      <div class="modal-body">
              <strong>Solution: </strong>{{solution|safe}}
      </div>
      <div class="modal-footer">
              {% if qid + 1 <= practice_count %}
                <button type="button" class="btn btn-primary"><a href="/topics/{{tid}}/practice/{{qid + 1}}">Move On</a></button>
              {% else %}
                <button type="button" class="btn btn-primary"><a href="/topics/{{tid}}/return">Return To Main Base!</a></button>
              {% endif %}
      </div>
    </div>
  </div>
</div>

<script>
	/* Common Script */
	var incorrect = 0;
        var lives = 2;
        var c = false; // This is the counter that checks if we should stop accepting answers
        function disableCab() {
                cab = document.querySelector("#check-answers")
                var butdis = document.createAttribute("disabled");
                var butdis_aria = document.createAttribute("aria-disabled");
                butdis_aria.value = "true";
                cab.setAttributeNode(butdis);
                cab.setAttributeNode(butdis_aria);
                return cab;
        }

        function viewSolution(close_modal_bool, element) {
                if(c == false) {
                        return // Abort since c is not true
                }
                if(close_modal_bool == true) {
                        $(element).modal('hide')
                }
                $('#solutionModal').modal()
        }

	function tryAgain(element) {
            $('#incorrectModal').modal('hide')
        }

        function showSolButton() {
                document.querySelector("#view-solution").style.visibility = "visible";
        }

	{% if type == "MCQ" %}
	/* MCQ */
	var globalBtnList = []
	var choices = []
	function selectB(element) {
		if(c == true) {
			return
		}
		// Remove all current things first
		for(let i = 0; i < globalBtnList.length; i++) {
			globalBtnList[i].classList.remove("btn-primary")
			globalBtnList[i].classList.add("btn-outline-primary")
			globalBtnList = []
			break;
		}
		element.classList.add("btn-primary");
		element.classList.remove("btn-outline-primary")
		globalBtnList.push(element)
		console.log(globalBtnList)
		cab = document.querySelector("#check-answers")
		cab.removeAttribute("disabled");
		cab.removeAttribute("aria-disabled")
   		let butdis_aria = document.createAttribute("aria-disabled");
   		butdis_aria.value = "true";
		cab.setAttributeNode(butdis_aria)

	}

	function checkAnswer(element) {
		answer = globalBtnList[0].id;
		choices.push(answer)
                globalBtnList[0].setAttribute("onclick", "")

		if(answer == "{{correct_answer}}") {
                        if(lives - incorrect <= 0) {
                                // TODO: Track incorrect twice
                                $('#dincorrectModal').modal()
                        	globalBtnList[0].classList.remove("btn-primary")
                        	globalBtnList[0].classList.add("btn-warning")
				globalBtnList = []
				c = true;
                                setCorrectAns()
                		cab = document.querySelector("#check-answers")
				cab.innerHTML = "Out Of Lives :("
				cab.classList.remove("btn-success")
				cab.classList.add("btn-danger")
				showSolButton();
				track()
                                return;
                        }
			globalBtnList[0].classList.remove("btn-primary")
			globalBtnList[0].classList.add("btn-secondary")
			globalBtnList = []
			c = true;
			track()
			cab = disableCab();
			showSolButton()
			cab.innerHTML = "Let's move on, young explorer!"
			$('#correctModal').modal()
		}
		else {
			incorrect++;
			mlives = document.querySelector("#lives")
			if(lives - incorrect <= 0) {
				// TODO: Track incorrect twice
                        	$('#dincorrectModal').modal()
                        	globalBtnList[0].classList.remove("btn-primary")
                        	globalBtnList[0].classList.add("btn-warning")
                                globalBtnList = []
				c = true;
				track()
				showSolButton()
                                setCorrectAns()
                                cab = document.querySelector("#check-answers")
                                cab.innerHTML = "Out Of Lives :("
                                cab.classList.remove("btn-success")
                                cab.classList.add("btn-danger")
				return;
			}
                        globalBtnList[0].classList.remove("btn-primary")
                        globalBtnList[0].classList.add("btn-warning")
                        globalBtnList = []
			track()
			// TODO: Track incorrect with remaining lives
			mlives.innerHTML = "Remaining Lives: " + (lives - incorrect).toString();
                        $('#incorrectModal').modal()
		}
	}

	window.addEventListener('load', function () {
		disableCab();
		{% if solved%}
			// Set the current thing
			var button = document.querySelector("#{{solved}}")
                        button.classList.remove("btn-outline-primary")
                        button.setAttribute("onclick", "")
			choices.push(button.id)
			{% if inans %}
			var inc_button = document.querySelector("#{{inans}}")
			console.log(inc_button)
			inc_button.classList.remove("btn-outline-primary")
			inc_button.classList.add("btn-warning")
			inc_button.setAttribute("onclick", "")
			{%endif%}
			if(button.id == "{{correct_answer}}") { // They got it correct
                                button.classList.add("btn-secondary")
				c = true;
                        	cab = disableCab();
				showSolButton()
                        	cab.innerHTML = "Let's move on, young explorer!"
				return;
			}
                        lives = parseInt("{{lives}}")
			if(lives == 0) {
				c = true;
				setCorrectAns()
				cab = document.querySelector("#check-answers")
                                cab.classList.remove("btn-success")
                                cab.classList.add("btn-danger")
                		cab.removeAttribute("disabled");
                		cab.removeAttribute("aria-disabled")
				cab.innerHTML = "Out Of Lives :("
				showSolButton()
				{% for choice in choices %}
					button = document.querySelector("#{{choice}}")
					try {
						button.classList.remove("btn-outline-primary")
					}
					catch {}
					button.classList.add("btn-warning")
					button.setAttribute("onclick", "")
				{%endfor%}
			}
		{% endif %}
	})

	function track() {
                post_url = "https://" + window.location.hostname + ":443/topics/{{tid}}/practice/{{qid}}/solve";
                console.log(post_url);
		console.log(choices.join("|"))
                post_data = {"csrf_token": "{{csrf_token()}}", "given_answer":  answer, "remaining_lives": lives - incorrect, "choices": choices.join("|")};
                $.post(post_url, post_data, function(data, status, jqXHR) {console.log(data.error)});
        }

	function setCorrectAns() {
              cbutton = document.querySelector("#{{correct_answer}}")
              cbutton.classList.remove("btn-outline-primary")
	      cbutton.classList.add("btn-secondary")
	}

	{% endif %}
	{% if type == "SAQ" or type == "SAQS" %}
	/* SAQ/SAQS */
	var typed = false; // Has the user even typed anything yet
	function inputListener() {
		if(c == true) {
			return;
		}
		cab = document.querySelector("#check-answers")
		ans_field = document.querySelector("#ans")
		if(ans_field.value != "") {
			typed = true;
			cab.removeAttribute("disabled")
                        cab.removeAttribute("aria-disabled")
		}
		else if(typed == false){
			return;
		}
		else {
			disableCab();
		}
	}

        function checkAnswer(element) {
		if(c == true) {
			return;
		}
		answer = document.querySelector("#ans").value;
                if(answer == "{{correct_answer}}") {
                        if(lives - incorrect <= 0) {
                                $('#dincorrectModal').modal()
                                c = true;
                                cab = document.querySelector("#check-answers")
                                cab.innerHTML = "Out Of Lives :("
                                cab.classList.remove("btn-success")
                                cab.classList.add("btn-danger")
				roinput();
                                showSolButton();
                                track()
                                return;
                        }
                        c = true;
                        track()
                        cab = disableCab();
                        showSolButton()
			roinput();
                        cab.innerHTML = "Let's move on, young explorer!"
                        $('#correctModal').modal()
                }
                else {
                        incorrect++;
                        mlives = document.querySelector("#lives")
                        if(lives - incorrect <= 0) {
                                $('#dincorrectModal').modal()
                                c = true;
                                track()
                                showSolButton()
				roinput()
                                cab = document.querySelector("#check-answers")
                                cab.innerHTML = "Out Of Lives :("
                                cab.classList.remove("btn-success")
                                cab.classList.add("btn-danger")
                                return;
                        }
                        track()
                        // TODO: Track incorrect with remaining lives
                        mlives.innerHTML = "Remaining Lives: " + (lives - incorrect).toString();
                        $('#incorrectModal').modal()
                }

	}

        function track() {
                post_url = "https://" + window.location.hostname + ":443/topics/{{tid}}/practice/{{qid}}/solve";
                console.log(post_url);
                post_data = {"csrf_token": "{{csrf_token()}}", "given_answer":  answer, "remaining_lives": lives - incorrect, "choices": null};
                $.post(post_url, post_data, function(data, status, jqXHR) {console.log(data.error)});
        }

	function roinput() {
                var butdis = document.createAttribute("readonly");
                document.querySelector("#ans").setAttributeNode(butdis);
	}

        window.addEventListener('load', function () {
                cab = disableCab();
		si = setInterval(inputListener, 0);
                {% if solved%}
                        // Set the current thing
			document.querySelector("#ans").value = "{{solved}}";
                        if(document.querySelector("#ans") == "{{correct_answer}}") { // They got it correct
                                c = true;
                                cab = disableCab();
                                showSolButton()
				roinput();
                                cab.innerHTML = "Let's move on, young explorer!"
                                return;
                        }
                        lives = parseInt("{{lives}}")
                        if(lives == 0) {
                                c = true;
                                cab = document.querySelector("#check-answers")
                                cab.classList.remove("btn-success")
                                cab.classList.add("btn-danger")
                                cab.removeAttribute("disabled");
                                cab.removeAttribute("aria-disabled")
				roinput();
                                cab.innerHTML = "Out Of Lives :("
                                showSolButton()
                        }
                {% endif %}
	})
{% endif %}
</script>

</div>
{% endblock %}
